-f https://download.pytorch.org/whl/torch_stable.html
pandas
numpy
sklearn
scikit-learn
requests==2.22.0
Flask==2.1.0
wit==6.0.0
nltk
Unidecode==1.1.1
gunicorn
wikipedia==1.4.0
googletrans==4.0.0-rc1
torch
torchvision
itsdangerous==2.0.1
